/* Add CSS Styling */
.odd-numbers {
  background-color: rgb(255, 175, 186);
  font: Verdana, DejaVu Sans, sans-serif;
}

#ID {
  color: blue;
  font-size: 36px;
}

#ID2 {
  background-color: rgb(175, 255, 175);
  font-size: 24px;
  font-weight: bold;
}
